body {
  background-color: #fdfdfd;
}

body {
  background-color: #ffffff;
}
.p1 {
  background-color: rgb(238, 6, 6);
}

.p2 {
  background-color: rgb(16, 2, 214);
}

.highlight {
  background-color: rgb(190, 187, 187);
}

.active-p1 {
  background-color: rgb(124, 0, 0);
}

.active-p2 {
  background-color: rgb(0, 0, 94);
}

.player1 {
  color: black;
}

.player2 {
  color: black;
}

.moving {
  color: black;
}

.position {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.top {
  top: -25px;
}

.mid {
  top: 125px;
}

.bottom {
  bottom: -25px;
}

.left {
  left: -25px;
}

.center {
  left: 125px;
}

.right {
  right: -25px;
}

.position:hover {
  background-color: #48f205;
  animation-.position {
    position: absolute;

    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .top {
    top: -25px;
  }

  .mid {
    top: 125px;
  }

  .bottom {
    bottom: -25px;
  }

  .left {
    left: -25px;
  }

  .center {
    left: 125px;
  }

  .right {
    right: -25px;
  }

  .position:hover {
    background-color: #48f205;
    animation-direction: alternate-reverse;
  }
}

.container {
  border: 2px solid black;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 75px;
  position: relative;
  background-color: beige;
  margin-top: 100px;
}

.hor {
  background-color: black;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
}

.vert {
  background-color: black;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 149px;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 75px;
  position: relative;
}

.hor {
  background-color: black;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
}

.vert {
  background-color: black;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 75px;
  transform: rotate(90deg);
  transform-origin: center;
}

.diag-left {
  background-color: black;
  height: 2px;
  width: 141.42%;
  position: absolute;
  top: 149px;
  left: -64px;
  transform: rotate(45deg);
  transform-origin: center;
}

.diag-right {
  background-color: black;
  height: 2px;
  width: 141.42%;
  position: absolute;
  top: 149px;
  right: -64px;
  transform: rotate(-45deg);
  transform-origin: center;
}

.winning-content {
  display: none;
  text-align: center;
  align-items: center;
  position: absolute;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  font-size: 24px;
  color: rgb(23, 235, 76);
  background-color: #f5fdf3;
  width: 300px;
  height: 50px;

}

.restart {
  display: none;
}
